In [187]:
import numpy as np
import pandas as pd

In [188]:
data_feature=pd.read_csv("C:\\Users\\ASUS\\Desktop\\DATA_SCIENCE_FOLDER\\Data_Set.csv\\Features data set.csv")

In [189]:
data_sales=pd.read_csv("C:\\Users\\ASUS\\Desktop\\DATA_SCIENCE_FOLDER\\Data_Set.csv\\sales data-set.csv")

In [190]:
data_stores=pd.read_csv("C:\\Users\\ASUS\\Desktop\\DATA_SCIENCE_FOLDER\\Data_Set.csv\\stores data-set.csv")

In [191]:
len(data_feature)

8190

In [192]:
len(data_sales)

421570

In [193]:
len(data_stores)

45

# Data understanding/exploration/pre-processing for Data_features

In [194]:
data_feature.head(150)

,Store,Date,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday
0,1,5/2/2010,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False
1,1,12/2/2010,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,True
2,1,19/02/2010,39.93,2.514,NaN,NaN,NaN,NaN,NaN,211.289143,8.106,False
3,1,26/02/2010,46.63,2.561,NaN,NaN,NaN,NaN,NaN,211.319643,8.106,False
4,1,5/3/2010,46.50,2.625,NaN,NaN,NaN,NaN,NaN,211.350143,8.106,False
5,1,12/3/2010,57.79,2.667,NaN,NaN,NaN,NaN,NaN,211.380643,8.106,False
6,1,19/03/2010,54.58,2.720,NaN,NaN,NaN,NaN,NaN,211.215635,8.106,False
7,1,26/03/2010,51.45,2.732,NaN,NaN,NaN,NaN,NaN,211.018042,8.106,False
8,1,2/4/2010,62.27,2.719,NaN,NaN,NaN,NaN,NaN,210.820450,7.808,False
9,1,9/4/2010,65.86,2.770,NaN,NaN,NaN,NaN,NaN,210.622857,7.808,False
10,1,16/04/2010,66.32,2.808,NaN,NaN,NaN,NaN,NaN,210.488700,7.808,False
11,1,23/04/2010,64.84,2.795,NaN,NaN,NaN,NaN,NaN,210.439123,7.808,False
12,1,30/04/2010,67.41,2.780,NaN,NaN,NaN,NaN,NaN,210.389546,7.808,False
13,1,7/5/2010,72.55,2.835,NaN,NaN,NaN,NaN,NaN,210.339968,7.808,False
14,1,14/05/2010,74.78,2.854,NaN,NaN,NaN,NaN,NaN,210.337426,7.808,False
15,1,21/05/2010,76.44,2.826,NaN,NaN,NaN,NaN,NaN,210.617093,7.808,False
16,1,28/05/2010,80.44,2.759,NaN,NaN,NaN,NaN,NaN,210.896761,7.808,False
17,1,4/6/2010,80.69,2.705,NaN,NaN,NaN,NaN,NaN,211.176428,7.808,False
18,1,11/6/2010,80.43,2.668,NaN,NaN,NaN,NaN,NaN,211.456095,7.808,False
19,1,18/06/2010,84.11,2.637,NaN,NaN,NaN,NaN,NaN,211.453772,7.808,False
20,1,25/06/2010,84.34,2.653,NaN,NaN,NaN,NaN,NaN,211.338653,7.808,False
21,1,2/7/2010,80.91,2.669,NaN,NaN,NaN,NaN,NaN,211.223533,7.787,False
22,1,9/7/2010,80.48,2.642,NaN,NaN,NaN,NaN,NaN,211.108414,7.787,False
23,1,16/07/2010,83.15,2.623,NaN,NaN,NaN,NaN,NaN,211.100385,7.787,False
24,1,23/07/2010,83.36,2.608,NaN,NaN,NaN,NaN,NaN,211.235144,7.787,False
25,1,30/07/2010,81.84,2.640,NaN,NaN,NaN,NaN,NaN,211.369903,7.787,False
26,1,6/8/2010,87.16,2.627,NaN,NaN,NaN,NaN,NaN,211.504662,7.787,False
27,1,13/08/2010,87.00,2.692,NaN,NaN,NaN,NaN,NaN,211.639421,7.787,False
28,1,20/08/2010,86.65,2.664,NaN,NaN,NaN,NaN,NaN,211.603363,7.787,False
29,1,27/08/2010,85.22,2.619,NaN,NaN,NaN,NaN,NaN,211.567306,7.787,False
...,...,...,...,...,...,...,...,...,...,...,...,...
120,1,25/05/2012,77.22,3.561,4039.39,NaN,745.19,1429.96,3631.13,221.744944,7.143,False
121,1,1/6/2012,77.95,3.501,6086.21,12.00,370.51,148.75,3690.85,221.747214,7.143,False
122,1,8/6/2012,78.30,3.452,8813.81,116.80,64.55,2652.04,7161.91,221.749484,7.143,False
123,1,15/06/2012,79.35,3.393,5621.99,109.60,0.25,2420.28,3083.26,221.762642,7.143,False
124,1,22/06/2012,78.39,3.346,8624.56,171.25,3.05,2524.07,7063.68,221.803021,7.143,False
125,1,29/06/2012,84.88,3.286,3965.73,161.60,NaN,435.99,4212.97,221.843400,7.143,False
126,1,6/7/2012,81.57,3.227,12218.76,94.40,192.83,4066.01,6149.04,221.883779,6.908,False
127,1,13/07/2012,77.12,3.256,7218.13,45.20,36.24,3909.38,2596.37,221.924158,6.908,False
128,1,20/07/2012,80.42,3.311,3213.00,313.72,9.53,2262.02,3228.19,221.932727,6.908,False
129,1,27/07/2012,82.66,3.407,7146.90,389.02,1.59,10267.54,4325.19,221.941295,6.908,False
130,1,3/8/2012,86.11,3.417,27584.78,119.98,30.23,12007.04,4661.71,221.949864,6.908,False
131,1,10/8/2012,85.05,3.494,11436.22,245.00,6.85,6964.26,4836.22,221.958433,6.908,False
132,1,17/08/2012,84.85,3.571,3662.06,137.86,4.84,2752.20,3446.15,222.038411,6.908,False
133,1,24/08/2012,77.66,3.620,6237.83,260.06,2.97,3463.03,7988.25,222.171946,6.908,False
134,1,31/08/2012,80.49,3.638,21442.73,102.32,21.70,13209.64,3032.96,222.305481,6.908,False
135,1,7/9/2012,83.96,3.730,5204.68,35.74,50.94,4120.32,2737.17,222.439015,6.908,True
136,1,14/09/2012,74.97,3.717,17212.52,7.00,18.79,1523.11,7992.72,222.582019,6.908,False
137,1,21/09/2012,69.87,3.721,6352.30,7.64,4.69,1010.06,6456.71,222.781839,6.908,False
138,1,28/09/2012,76.08,3.666,3666.27,7.64,1.65,1417.96,4744.28,222.981658,6.908,False
139,1,5/10/2012,68.55,3.617,8077.89,NaN,18.22,3617.43,3626.14,223.181477,6.573,False
140,1,12/10/2012,62.99,3.601,2086.18,NaN,8.11,602.36,5926.45,223.381296,6.573,False
141,1,19/10/2012,67.97,3.594,950.33,NaN,4.93,80.25,2312.85,223.425723,6.573,False
142,1,26/10/2012,69.16,3.506,2585.85,31.75,6.00,1057.16,1305.01,223.444251,6.573,False
143,1,2/11/2012,55.32,3.386,6766.44,5147.70,50.82,3639.90,2737.42,223.462779,6.573,False
144,1,9/11/2012,61.24,3.314,11421.32,3370.89,40.28,4646.79,6154.16,223.481307,6.573,False
145,1,16/11/2012,52.92,3.252,9696.28,292.10,103.78,1133.15,6612.69,223.512911,6.573,False
146,1,23/11/2012,56.23,3.211,883.59,4.17,74910.32,209.91,303.32,223.561947,6.573,True
147,1,30/11/2012,52.34,3.207,2460.03,NaN,3838.35,150.57,6966.34,223.610984,6.573,False
148,1,7/12/2012,64.12,3.198,6343.16,NaN,270.00,2928.90,10147.90,223.660021,6.573,False
149,1,14/12/2012,48.89,3.168,3504.83,NaN,73.26,1636.80,2779.60,223.719277,6.573,False

In [195]:
data_feature.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8190 entries, 0 to 8189
Data columns (total 12 columns):
Store           8190 non-null int64
Date            8190 non-null object
Temperature     8190 non-null float64
Fuel_Price      8190 non-null float64
MarkDown1       4032 non-null float64
MarkDown2       2921 non-null float64
MarkDown3       3613 non-null float64
MarkDown4       3464 non-null float64
MarkDown5       4050 non-null float64
CPI             7605 non-null float64
Unemployment    7605 non-null float64
IsHoliday       8190 non-null bool
dtypes: bool(1), float64(9), int64(1), object(1)
memory usage: 711.9+ KB

In [196]:
data_feature.describe()

,Store,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment
count,8190.000000,8190.000000,8190.000000,4032.000000,2921.000000,3613.000000,3464.000000,4050.000000,7605.000000,7605.000000
mean,23.000000,59.356198,3.405992,7032.371786,3384.176594,1760.100180,3292.935886,4132.216422,172.460809,7.826821
std,12.987966,18.678607,0.431337,9262.747448,8793.583016,11276.462208,6792.329861,13086.690278,39.738346,1.877259
min,1.000000,-7.290000,2.472000,-2781.450000,-265.760000,-179.260000,0.220000,-185.170000,126.064000,3.684000
25%,12.000000,45.902500,3.041000,1577.532500,68.880000,6.600000,304.687500,1440.827500,132.364839,6.634000
50%,23.000000,60.710000,3.513000,4743.580000,364.570000,36.260000,1176.425000,2727.135000,182.764003,7.806000
75%,34.000000,73.880000,3.743000,8923.310000,2153.350000,163.150000,3310.007500,4832.555000,213.932412,8.567000
max,45.000000,101.950000,4.468000,103184.980000,104519.540000,149483.310000,67474.850000,771448.100000,228.976456,14.313000

In [197]:
#checking if any column has negetive data or not(mainly fuel price and unemployement as they are not supposed to be negetive)
(data_feature<0).any().any()
np.sum((data_feature['CPI']<0).values.flatten())
np.sum((data_feature['Fuel_Price']<0).values.flatten())

0

In [198]:
# data_markdown=data_feature[['MarkDown1','MarkDown2','MarkDown3','MarkDown4']].copy()
# filling null value

data_feature.update(data_feature.fillna(0))

In [199]:
data_feature.head()

,Store,Date,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday
0,1,5/2/2010,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,False
1,1,12/2/2010,38.51,2.548,0.0,0.0,0.0,0.0,0.0,211.242170,8.106,True
2,1,19/02/2010,39.93,2.514,0.0,0.0,0.0,0.0,0.0,211.289143,8.106,False
3,1,26/02/2010,46.63,2.561,0.0,0.0,0.0,0.0,0.0,211.319643,8.106,False
4,1,5/3/2010,46.50,2.625,0.0,0.0,0.0,0.0,0.0,211.350143,8.106,False

# Data understanding/exploration/pre-processing for Data_Sales

In [200]:
data_sales.head()

   Store  Dept        Date  Weekly_Sales  IsHoliday
0      1     1    5/2/2010      24924.50      False
1      1     1   12/2/2010      46039.49       True
2      1     1  19/02/2010      41595.55      False
3      1     1  26/02/2010      19403.54      False
4      1     1    5/3/2010      21827.90      False

In [201]:
data_sales.describe()

               Store           Dept   Weekly_Sales
count  421570.000000  421570.000000  421570.000000
mean       22.200546      44.260317   15981.258123
std        12.785297      30.492054   22711.183519
min         1.000000       1.000000   -4988.940000
25%        11.000000      18.000000    2079.650000
50%        22.000000      37.000000    7612.030000
75%        33.000000      74.000000   20205.852500
max        45.000000      99.000000  693099.360000

In [202]:
data_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 421570 entries, 0 to 421569
Data columns (total 5 columns):
Store           421570 non-null int64
Dept            421570 non-null int64
Date            421570 non-null object
Weekly_Sales    421570 non-null float64
IsHoliday       421570 non-null bool
dtypes: bool(1), float64(1), int64(2), object(1)
memory usage: 13.3+ MB

In [203]:
data_sales.isnull().sum()

Store           0
Dept            0
Date            0
Weekly_Sales    0
IsHoliday       0
dtype: int64

In [204]:
# check if there is any negetive value in weekly_sales
(data_sales["Weekly_Sales"]<0).values.any()
count_neg=np.sum((data_sales["Weekly_Sales"]<0).values.ravel())
count_neg

1285

In [205]:

count=0
for i in data_sales['Weekly_Sales'].values.flatten():
    
    
    if i<0:
        count=count+1

        
print (count)

1285

In [206]:
percent_neg=(count_neg/len(data_sales))*100
percent_neg

0.30481296107408024

In [207]:
''' so to fill the negative value we have 3 options 
                1.keep all the values as null
                2.fill it by avg value
                3.fill it by backward or forward value
                
            which one will you choose and why?
                '''

' so to fill the negative value we have 3 options \n                1.keep all the values as null\n                2.fill it by avg value\n                3.fill it by backward or forward value\n                \n            which one will you choose and why?\n                '

In [208]:
# convert all the values to zero
data_sales['Weekly_Sales']=data_sales['Weekly_Sales'].mask(data_sales['Weekly_Sales']<0)

In [209]:
(data_sales['Weekly_Sales']<0).any().any()

False

In [210]:
#  Task 2.fill it by avg value

In [211]:
#  Task 3. fill it by backward and forward filling

# Data understanding/exploration/pre-processing for Data_stores

In [212]:
data_stores.head()

   Store Type    Size
0      1    A  151315
1      2    A  202307
2      3    B   37392
3      4    A  205863
4      5    B   34875

In [213]:
set(data_stores["Type"])

{'A', 'B', 'C'}

In [214]:
len(set(data_stores["Store"]))

45

In [215]:
len(data_stores)

45

# Merge two tables (featues+sales)

In [216]:
data_merge=pd.merge(data_feature,data_sales,on="Date")

In [217]:
data_merge.head(100)

,Store_x,Date,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday_x,Store_y,Dept,Weekly_Sales,IsHoliday_y
0,1,5/2/2010,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,False,1,1,24924.50,False
1,1,5/2/2010,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,False,1,2,50605.27,False
2,1,5/2/2010,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,False,1,3,13740.12,False
3,1,5/2/2010,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,False,1,4,39954.04,False
4,1,5/2/2010,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,False,1,5,32229.38,False
5,1,5/2/2010,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,False,1,6,5749.03,False
6,1,5/2/2010,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,False,1,7,21084.08,False
7,1,5/2/2010,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,False,1,8,40129.01,False
8,1,5/2/2010,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,False,1,9,16930.99,False
9,1,5/2/2010,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,False,1,10,30721.50,False
10,1,5/2/2010,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,False,1,11,24213.18,False
11,1,5/2/2010,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,False,1,12,8449.54,False
12,1,5/2/2010,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,False,1,13,41969.29,False
13,1,5/2/2010,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,False,1,14,19466.91,False
14,1,5/2/2010,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,False,1,16,10217.55,False
15,1,5/2/2010,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,False,1,17,13223.76,False
16,1,5/2/2010,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,False,1,18,4729.50,False
17,1,5/2/2010,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,False,1,19,1947.05,False
18,1,5/2/2010,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,False,1,20,5034.10,False
19,1,5/2/2010,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,False,1,21,8907.63,False
20,1,5/2/2010,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,False,1,22,13623.98,False
21,1,5/2/2010,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,False,1,23,24146.49,False
22,1,5/2/2010,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,False,1,24,8272.90,False
23,1,5/2/2010,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,False,1,25,11609.50,False
24,1,5/2/2010,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,False,1,26,11737.12,False
25,1,5/2/2010,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,False,1,27,2293.00,False
26,1,5/2/2010,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,False,1,28,1085.29,False
27,1,5/2/2010,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,False,1,29,7024.95,False
28,1,5/2/2010,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,False,1,30,5491.00,False
29,1,5/2/2010,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,False,1,31,3455.92,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,1,5/2/2010,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,False,1,95,106690.06,False
71,1,5/2/2010,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,False,1,97,32153.04,False
72,1,5/2/2010,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,False,1,98,10891.37,False
73,1,5/2/2010,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,False,2,1,35034.06,False
74,1,5/2/2010,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,False,2,2,74661.16,False
75,1,5/2/2010,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,False,2,3,16873.20,False
76,1,5/2/2010,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,False,2,4,47681.96,False
77,1,5/2/2010,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,False,2,5,34025.45,False
78,1,5/2/2010,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,False,2,6,7472.24,False
79,1,5/2/2010,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,False,2,7,28512.95,False
80,1,5/2/2010,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,False,2,8,69634.80,False
81,1,5/2/2010,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,False,2,9,24162.08,False
82,1,5/2/2010,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,False,2,10,39602.47,False
83,1,5/2/2010,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,False,2,11,24800.30,False
84,1,5/2/2010,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,False,2,12,6906.20,False
85,1,5/2/2010,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,False,2,13,53319.96,False
86,1,5/2/2010,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,False,2,14,26425.58,False
87,1,5/2/2010,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,False,2,16,9674.86,False
88,1,5/2/2010,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,False,2,17,18810.11,False
89,1,5/2/2010,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,False,2,18,7277.75,False
90,1,5/2/2010,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,False,2,19,4891.96,False
91,1,5/2/2010,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,False,2,20,7231.65,False
92,1,5/2/2010,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,False,2,21,12636.72,False
93,1,5/2/2010,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,False,2,22,20565.41,False
94,1,5/2/2010,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,False,2,23,31836.69,False
95,1,5/2/2010,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,False,2,24,9731.05,False
96,1,5/2/2010,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,False,2,25,16827.50,False
97,1,5/2/2010,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,False,2,26,13414.69,False
98,1,5/2/2010,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,False,2,27,3184.50,False
99,1,5/2/2010,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,False,2,28,1592.41,False

In [218]:
pd.Series.equals(data_merge['Store_x'],data_merge['Store_y'])

False

In [219]:
# checking if the  both holiday columns are equal or not
pd.Series.equals(data_merge['IsHoliday_x'],data_merge['IsHoliday_y'])

True

In [221]:
# as both holiday column are same drop one(cause redundant)
data_merge.drop(["IsHoliday_y"],axis=1)

,Store_x,Date,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday_x,Store_y,Dept,Weekly_Sales
0,1,5/2/2010,42.31,2.572,0.00,0.00,0.0,0.00,0.00,211.096358,8.106,False,1,1,24924.50
1,1,5/2/2010,42.31,2.572,0.00,0.00,0.0,0.00,0.00,211.096358,8.106,False,1,2,50605.27
2,1,5/2/2010,42.31,2.572,0.00,0.00,0.0,0.00,0.00,211.096358,8.106,False,1,3,13740.12
3,1,5/2/2010,42.31,2.572,0.00,0.00,0.0,0.00,0.00,211.096358,8.106,False,1,4,39954.04
4,1,5/2/2010,42.31,2.572,0.00,0.00,0.0,0.00,0.00,211.096358,8.106,False,1,5,32229.38
5,1,5/2/2010,42.31,2.572,0.00,0.00,0.0,0.00,0.00,211.096358,8.106,False,1,6,5749.03
6,1,5/2/2010,42.31,2.572,0.00,0.00,0.0,0.00,0.00,211.096358,8.106,False,1,7,21084.08
7,1,5/2/2010,42.31,2.572,0.00,0.00,0.0,0.00,0.00,211.096358,8.106,False,1,8,40129.01
8,1,5/2/2010,42.31,2.572,0.00,0.00,0.0,0.00,0.00,211.096358,8.106,False,1,9,16930.99
9,1,5/2/2010,42.31,2.572,0.00,0.00,0.0,0.00,0.00,211.096358,8.106,False,1,10,30721.50
10,1,5/2/2010,42.31,2.572,0.00,0.00,0.0,0.00,0.00,211.096358,8.106,False,1,11,24213.18
11,1,5/2/2010,42.31,2.572,0.00,0.00,0.0,0.00,0.00,211.096358,8.106,False,1,12,8449.54
12,1,5/2/2010,42.31,2.572,0.00,0.00,0.0,0.00,0.00,211.096358,8.106,False,1,13,41969.29
13,1,5/2/2010,42.31,2.572,0.00,0.00,0.0,0.00,0.00,211.096358,8.106,False,1,14,19466.91
14,1,5/2/2010,42.31,2.572,0.00,0.00,0.0,0.00,0.00,211.096358,8.106,False,1,16,10217.55
15,1,5/2/2010,42.31,2.572,0.00,0.00,0.0,0.00,0.00,211.096358,8.106,False,1,17,13223.76
16,1,5/2/2010,42.31,2.572,0.00,0.00,0.0,0.00,0.00,211.096358,8.106,False,1,18,4729.50
17,1,5/2/2010,42.31,2.572,0.00,0.00,0.0,0.00,0.00,211.096358,8.106,False,1,19,1947.05
18,1,5/2/2010,42.31,2.572,0.00,0.00,0.0,0.00,0.00,211.096358,8.106,False,1,20,5034.10
19,1,5/2/2010,42.31,2.572,0.00,0.00,0.0,0.00,0.00,211.096358,8.106,False,1,21,8907.63
20,1,5/2/2010,42.31,2.572,0.00,0.00,0.0,0.00,0.00,211.096358,8.106,False,1,22,13623.98
21,1,5/2/2010,42.31,2.572,0.00,0.00,0.0,0.00,0.00,211.096358,8.106,False,1,23,24146.49
22,1,5/2/2010,42.31,2.572,0.00,0.00,0.0,0.00,0.00,211.096358,8.106,False,1,24,8272.90
23,1,5/2/2010,42.31,2.572,0.00,0.00,0.0,0.00,0.00,211.096358,8.106,False,1,25,11609.50
24,1,5/2/2010,42.31,2.572,0.00,0.00,0.0,0.00,0.00,211.096358,8.106,False,1,26,11737.12
25,1,5/2/2010,42.31,2.572,0.00,0.00,0.0,0.00,0.00,211.096358,8.106,False,1,27,2293.00
26,1,5/2/2010,42.31,2.572,0.00,0.00,0.0,0.00,0.00,211.096358,8.106,False,1,28,1085.29
27,1,5/2/2010,42.31,2.572,0.00,0.00,0.0,0.00,0.00,211.096358,8.106,False,1,29,7024.95
28,1,5/2/2010,42.31,2.572,0.00,0.00,0.0,0.00,0.00,211.096358,8.106,False,1,30,5491.00
29,1,5/2/2010,42.31,2.572,0.00,0.00,0.0,0.00,0.00,211.096358,8.106,False,1,31,3455.92
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18970620,45,26/10/2012,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False,45,41,1954.67
18970621,45,26/10/2012,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False,45,42,4894.78
18970622,45,26/10/2012,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False,45,44,3144.09
18970623,45,26/10/2012,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False,45,46,13329.25
18970624,45,26/10/2012,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False,45,52,1104.16
18970625,45,26/10/2012,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False,45,54,23.92
18970626,45,26/10/2012,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False,45,55,3458.17
18970627,45,26/10/2012,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False,45,56,937.72
18970628,45,26/10/2012,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False,45,58,275.00
18970629,45,26/10/2012,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False,45,59,191.98
18970630,45,26/10/2012,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False,45,60,117.00
18970631,45,26/10/2012,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False,45,67,5772.09
18970632,45,26/10/2012,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False,45,71,2789.38
18970633,45,26/10/2012,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False,45,72,33366.60
18970634,45,26/10/2012,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False,45,74,9814.88
18970635,45,26/10/2012,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False,45,79,14618.60
18970636,45,26/10/2012,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False,45,80,670.88
18970637,45,26/10/2012,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False,45,81,14693.09
18970638,45,26/10/2012,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False,45,82,17360.33
18970639,45,26/10/2012,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False,45,83,717.82
18970640,45,26/10/2012,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False,45,85,1689.10
18970641,45,26/10/2012,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False,45,87,8187.66
18970642,45,26/10/2012,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False,45,90,25352.32
18970643,45,26/10/2012,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False,45,91,16330.84
18970644,45,26/10/2012,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False,45,92,54608.75
18970645,45,26/10/2012,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False,45,93,2487.80
18970646,45,26/10/2012,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False,45,94,5203.31
18970647,45,26/10/2012,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False,45,95,56017.47
18970648,45,26/10/2012,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False,45,97,6817.48
18970649,45,26/10/2012,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False,45,98,1076.80

In [228]:
data_merge[220:240]

,Store_x,Date,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday_x,Store_y,Dept,Weekly_Sales,IsHoliday_y
220,1,5/2/2010,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,False,4,10,34932.26,False
221,1,5/2/2010,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,False,4,11,30263.01,False
222,1,5/2/2010,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,False,4,12,8245.06,False
223,1,5/2/2010,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,False,4,13,75841.39,False
224,1,5/2/2010,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,False,4,14,28027.75,False
225,1,5/2/2010,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,False,4,16,7437.73,False
226,1,5/2/2010,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,False,4,17,20612.43,False
227,1,5/2/2010,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,False,4,18,10503.75,False
228,1,5/2/2010,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,False,4,19,4656.70,False
229,1,5/2/2010,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,False,4,20,8329.67,False
230,1,5/2/2010,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,False,4,21,11574.09,False
231,1,5/2/2010,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,False,4,22,19300.76,False
232,1,5/2/2010,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,False,4,23,43265.50,False
233,1,5/2/2010,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,False,4,24,11156.49,False
234,1,5/2/2010,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,False,4,25,15790.50,False
235,1,5/2/2010,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,False,4,26,22624.89,False
236,1,5/2/2010,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,False,4,27,3623.50,False
237,1,5/2/2010,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,False,4,28,1226.67,False
238,1,5/2/2010,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,False,4,29,9588.59,False
239,1,5/2/2010,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,False,4,30,8863.08,False